.form_template_card_default {
  width: 200px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
  transition: border 0.1s; /* 使边框变化平滑 */
  display: flex;
  align-items: center;
  justify-content: center; /* 水平居中 */
  text-align: center;
}

.form_template_card_default:hover {
  border: 2px solid purple;
}
